/* Emotion buttons */
.emotion, #add-emotion {
    background-color: #4aaaa5; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.emotion:hover{
    background-color: white;
    color: black;
    border: 2px solid #4aaaa5;
}

#emotion-form{
    margin-top: 50px;
    font-size: 24px;
}

input[type=text]{
    padding: 10px;
    width: 50%;
}

figure {
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    display: table;
}

figcaption{
    display: table-caption;
    caption-side: top;
    font-size: 14px;
}
